# Anscombe's Quartet

###### Ansombes's Quartet is an important demonstration of the need to use Data Visualisation along wth the use of Statistical imforamtion when reviewing Data Sets. The Values , used aone do not tell the full story. 


########## Anscombe's quartet comprises four datasets that have nearly identical simple descriptive statistics, yet appear very different when graphed. Each dataset consists of eleven (x,y) points. The dataset is used widely when teaching the importance of graphing data before analyzing it. https://web.stanford.edu/class/cs102/datasets.htm

The Data set consists of four Datasets, with 2 axes (X,Y), with 11 datapoints in each dataset.

In [5]:
# This code is going to import and display the 4 Datasets related to Anscombe
# import pandas

import pandas as pd

#load the Anscombe dataset from site
df= pd.read_csv(r"C:\Users\john_j_o'neill\Documents\anscombe.csv")

#.. was getting an error in loading the csv file...
#r in front of path fixes this (denotes a raw string)
# https://stackoverflow.com/questions/37400974/unicode-error-unicodeescape-codec-cant-decode-bytes-in-position-2-3-trunca

In [6]:
df

    x1     y1  x2    y2  x3     y3  x4     y4
0   10   8.04  10  9.14  10   7.46   8   6.58
1    8   6.95   8  8.14   8   6.77   8   5.76
2   13   7.58  13  8.74  13  12.74   8   7.71
3    9   8.81   9  8.77   9   7.11   8   8.84
4   11   8.33  11  9.26  11   7.81   8   8.47
5   14   9.96  14  8.10  14   8.84   8   7.04
6    6   7.24   6  6.13   6   6.08   8   5.25
7    4   4.26   4  3.10   4   5.39  19  12.50
8   12  10.84  12  9.13  12   8.15   8   5.56
9    7   4.82   7  7.26   7   6.42   8   7.91
10   5   5.68   5  4.74   5   5.73   8   6.89

##### Characteristics of the Data

4 Sets of Data with 2 axes (X,Y)
11 line items in each dataset

####  F. J. Anscombe, "Graphs in Statistical Analysis," The American Statistician 27(1), 1973 pp. 17â€“21.

These graphs show the crucial role that data visualization plays in developing a sensible statistical model  https://demonstrations.wolfram.com/AnscombeQuartet/

His key message is that for Statistical methods, "graphs are essential to good statistical analysis." and that one should "make bothe calculations and graphs. Both sorts of output should be studied; each will contribute to understanding."

Graphs allow greater insight to the features of the data and help focus analysis.

## Plotting the Data

In [9]:
#Load seaborn package

import seaborn as sns
import matplotlib.pyplot as plt

#plot the data
#line of code.....
plt.show(df)

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().